body {
    background-color: cadetblue;
}

.container {
    background-color: rgb(164, 236, 212);
    height: 34vw;
    width: 52vw;
}

.navigation {
    margin-top: 5vw;
    display: flex;
    column-gap: 1vw;
    justify-content: center;
}

#quiz-heading {
    padding-top: 2vw;
    color: black;
    font-size: x-large;
}

.options {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5vw;
    grid-row-gap: 1vw;
    margin-left: 1vw;
    
}
div#optionA{
    background-color: rgb(22, 92, 154);;
    color: white;
    border-radius: 8px;
    width: 22.5vw;
    margin-left: 2vw;
    height: 2.3vw;
}

div#optionC{
    background-color: rgb(22, 92, 154);;
    color: white;
    border-radius: 8px;
    width: 22.5vw;
    margin-left: 2vw;
    height: 2.3vw;
}

div#optionB{
    background-color: rgb(22, 92, 154);;
    color: white;
    border-radius: 8px;
    width: 22.5vw;
    margin-left: 1vw;
    height: 2.3vw;
}

div#optionD{
    background-color: rgb(22, 92, 154);;
    color: white;
    border-radius: 8px;
    width: 22.5vw;
    margin-left: 1vw;
    height: 2.3vw;
}

#questionNumber{
    color: black;
}

#question{
    color: black;
    font-size: larger;
}